

/* NAVBAR */
.navbar .navbar-light .bg-light .navbar-expand{
  background-color: white;
}
.nav-item{
  background-color: white;
  font-family: 'Thasadith', sans-serif;
  color:black;
}
.collapse .navbar-collapse{
  background-color: white;
  position:center;
}
.nav-link {
  background-color: white;
  color:black;
}
ul.nav.justify-content-end {
  background-color: white;
  margin-top: -400px;
margin: 0 auto;
}
a.navbar-brand {

  font-weight: lighter;
  position: fixed;
  }


 
.fakeimg {
    width: 50%;
    height: 50%;
}
.form-row label.placeholder,
.form-row label.active {
  transform: translateY(-140%);
  font-size:0.8em;
}

.form-row textarea {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-sizing: content-box;
  background-color: transparent;
  overflow-y: hidden;
  padding: 1.5rem 0;
  resize: none;

}
